<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DemoPdf</title>
</head>

<body class="pdf">
    <header class="header">
        <img class="logo-stopsn" src="https://stopsn.com.ua/wp-content/themes/spotlightonheartfailure/images/pdf/stopsn.svg" alt="Stopsn">
        <img class="logo-astrazeneca" src="https://stopsn.com.ua/wp-content/themes/spotlightonheartfailure/images/pdf/astrazeneca.svg" alt="Astrazeneca">
        <img class="logo-world" src="https://stopsn.com.ua/wp-content/themes/spotlightonheartfailure/images/pdf/world.svg" alt="World">
    </header>
    <hr class="hr">
    <div class="factors_section">
        <h3>Фактори ризику розвитку серцевої недостатності помічені вами:</h3>
        <div class="factors">
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Підвищений артеріальний тиск</div>
            </div>
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Хронічна хвороба нирок (ХХН)</div>
            </div>
            <div class="factors__item">
                <div class="circle active"></div>
                <div class="text">Порушення дихання під час сну</div>
            </div>
        </div>

        <div class="factors">
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Інфаркт міокарда в анамнезі</div>
            </div>
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Цукровий діабет</div>
            </div>
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Куріння</div>
            </div>
        </div>

        <div class="factors">
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Хронічне обструктивне захворювання легень (ХОЗЛ) / захворювання легень тяжкого ступеня</div>
            </div>
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Фібриляція передсердь/нерегулярний серцевий ритм</div>
            </div>
            <div class="factors__item">
                <div class="circle"></div>
                <div class="text">Регулярне вживання алкоголю в надмірних кількостях</div>
            </div>
        </div>
    </div>
        <p style="margin:0px 15px 0px 15px;font-family:Times New Roman;font-weight:lighter;font-size:medium;">
            <%= article%>
            <br>
            <%= firstname%>
            <br>
            <%= lastname%>

            <h1>hello bro</h1>
        </p>

</body>
<style>
    .pdf {
        border: 20px solid red;
        padding: 0;
        margin: 0;
    }
    .header {
        
    }

    .logo-stopsn {

    }

    .logo-world {
        float: right;
        margin-right: 0.5cm;
    }

    .logo-astrazeneca {
        float: right;
    }

    .hr {
        width: 100%;
        height: 1px;
        background-color: #F5F5F5;
    }

    .factors_section {
        
    }

    .factors {
        display: block;
        margin-top: 10px;
    }

    .factors__item {
        display: inline-block;
        width: 30%;
    }

    .factors__item .circle {
        display: inline-block;
        /* float: left; */
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .factors__item .circle.active {
        border: 3px solid red;
    }

    .factors__item .text {
        display: inline-block;
        width: 78%;
        font-size: 10px;
    }

</style>
</html>