<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DemoPdf</title>
</head>

<body>
    <div>
        <div style="margin-left:40%;font-size:small;">
            <h3>Demo_Pdf</h3>
        </div>
        <p style="margin:0px 15px 0px 15px;font-family:Times New Roman;font-weight:lighter;font-size:medium;">
            <h1>hello bro</h1>
            <img src="/images/cough.svg" alt="cough">
            <img src="images/cough.svg" alt="cough">
            <img src="../public/images/cough.svg" alt="cough">
            <img src="stopsn.com.ua/images/cough.svg" alt="cough">
        </p>
    </div>
</body>

</html>